.adam{
    background-color:rgb(125, 204, 228)
}
.main{
    text-decoration: underline;
    color:rgba(0, 0, 0, 0.959)
}
.t1{
    background-color: yellow;
}
.t2{
    background-color: rgb(21, 206, 154);
}
.t3{
    background-color: rgb(125, 75, 195);
}
.t4{
    background-color: rgb(196, 85, 94);
}